*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Century Gothic;
    
}
.town{
    width: 100%;
    height: 33%;
    display: flex;
    position: relative;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 5vh;
    text-shadow: 1px 1px 2px #4CAF50;
    
}
.date {
    width: 100%;
    height: 33%;
    display: flex;
    position: relative;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-size: 3vh;
}

.slogan {
    text-align: center;
    color: #4CAF50;
    text-shadow: 1px 1px 2px #4CAF50;
    font-size: 3vh;
}
.weather{
    width: 100%;
    height: 34%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    font-family: Century Gothic;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 3vh;
}
.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cloudy{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.button {
    height: 34%;
    display: flex;
    position: relative;
    justify-content:flex-end;
    align-items: flex-end;  
}
.button-primary {
    display: block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.button-primary:hover {
   
    background-color: rgb(45, 122, 47); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
img {
    height: 15vh; 
    width: 15vh;
}


